<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.farifam.siwasis">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ssn_logo"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ssn_logo"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".BlokActivity"
                android:label="@string/title_activity_blok"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".KewajaranActivity"
                android:label="@string/title_activity_kewajaran"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>